/* Google font */
@import url(' https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&display=swap');

/* Layout */
:root {
--primary: #46329d85; /* Purple */
--secondary: #573ec385; /* Blue */
--error: #d9301d; /* Red */
--background: #ecf0f1; /* Light grey */
--header-bg: #eee1e1; /* White */
--text-color: #2c3e50;
}

body {
background: var(--background);
margin: 0;
font-family: 'Lora', serif;
}

header {
background: var(--header-bg);
border-bottom: 2px solid var(--primary);
}

header .container {
max-width: 1400px;
margin: 0 auto;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

header a {
color: var(--text-color);
text-decoration: none;
font-weight: 500;
}

header a:hover {
color: var(--secondary);
}

.pages {
max-width: 1400px;
padding: 20px;
margin: 0 auto;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background: #ffffff;
}
/* homepage */
.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
  }
  .book-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  .book-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
  }
  .book-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .book-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    color: #000000;
  }

/* bookform */
h3{
    color: var(--primary);
}
label, input{
    display: block;
}
input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100psx;
    border: 1px soldid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}
form button{
    background: var(--primary);
    border: 0;
    color: #ffffff;
    padding: 10px;
    font-family: 'Lora', 'serif';
    border-radius: 4px;
    cursor: pointer;
}
div.error{
    padding: 10px;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}